:root {
  --main-color: #027261;
  --secondary-color: #3da8b6;
  --hover-color: #e9e9e9;
}

* {
  padding: none;
  margin: none;
}

body {
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: #f3f3f3;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

#header .material-icons {
  font-size: 4.5rem;
  margin-right: 0.3rem;
}

#forms-container {
  border-top: 10px solid var(--main-color);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
}

#inputs-container {
  padding: 1rem 1.5rem;
  margin: 2rem 0;
}

#display-container {
  width: 176mm;
  margin: auto;
  padding: 4rem;
  font-size: 0.75rem;
}

#general-input .row {
  margin-bottom: 0.4rem;
}

.section-header {
  font-weight: 600;
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.row label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.row input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  outline: none;
  background-color: #fffffff8;
  border: 1px solid #c4c4c4;
  box-shadow: inset 0 2px 3px 0 hsl(0, 0%, 0%, 0.08);
}

.row input:focus {
  border: 2px solid var(--main-color);
}

.job-description {
  resize: none;
  padding: 0.5rem;
  outline: none;
  width: auto;
  box-shadow: inset 0 2px 3px 0 hsl(0, 0%, 0%, 0.08);
  background-color: #fffffff8;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.long-button {
  font-weight: bold;
  padding: 0.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.long-button span:first-of-type {
  margin-right: 0.6rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.long-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 5px;
}

.form-input {
  border: 2px solid var(--main-color);
  border-radius: 8px;
  padding: 0.4rem;
}

.form-row {
  margin-bottom: 0.5rem;
}

.form-row-1 {
  display: flex;
  justify-content: space-between;
}

.form-icons {
  display: flex;
  align-items: center;
}

.edit {
  color: var(--secondary-color);
}

.delete {
  color: rgb(251, 118, 118);
}

.form-icons div {
  padding: 0.4rem;
  margin-left: 0.4rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-icons div:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.item-header {
  font-weight: bold;
  margin-right: 0.3rem;
}

.education-row .item-header::after {
  content: ' | ';
}

.btn {
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

#name-container {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.2rem;
}

#contact-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#contact-info {
  line-height: 0;
}

#contact-info div {
  display: flex;
  margin-bottom: 0.6rem;
}

#address div {
  flex-direction: column;
}

.material-icons {
  color: var(--main-color);
}

#contact-info .material-icons {
  margin-right: 1rem;
}

.header {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.education-container {
  line-height: 0;
}

.education-row {
  display: flex;
  justify-content: space-between;
}

.education-row div:nth-child(1) {
  display: flex;
}

.highlight {
  font-weight: bold;
  color: var(--main-color);
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.experience-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.experience-item div:not(:last-child) {
  display: flex;
  line-height: 0;
  justify-content: space-between;
}

.job-description-display {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Anton', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.job-description-display:hover {
  cursor: text;
}

#skills-container ul {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, auto);
}

.toggle-container {
  text-align: center;
  background-color: rgba(219, 219, 219, 0.72);
  padding: 1.5rem 0;
}

.toggle-container p {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.77);
}

.toggle {
  --width: 4rem;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: rgb(210, 218, 221);
  transition: background 0.3s;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

.toggle__input:checked ~ .toggle__fill {
  background: #0272619b;
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  border-radius: var(--border-radius);
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
  background-color: var(--main-color);
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

@media only screen and (min-width: 481px) {
  #main-container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 769px) {
  #main-container {
    width: 70%;
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  #main-container {
    width: 62.5rem;
    margin: auto;
  }
}
